<!-- User Account: style can be found in dropdown.less -->
{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
{% set user_image = false %}
{% if user.getProfilePicture() is not empty %}
    {% set user_image = 'images/profile/'~ user.getProfilePicture() %}
{% endif %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ macro.avatar(user_image, user.username, 'user-image') }}
        <span class="hidden-xs">{{ user.getName()|title }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            {{ macro.avatar(user_image, user.username) }}
            <p>
                {{user.getName()}}
                <small>{{ 'Last Login %date%'|trans({'%date%': user.lastLogin|date('d.m.Y g:i A') }, 'AvanzuAdminTheme') }}</small>
            </p>
        </li>
        <!-- Menu Body -->
       {# <li class="user-body">
            <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
            </div>
        </li>#}
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ path('avanzu_admin_profile') }}" class="btn btn-default btn-flat">{{'Profile'|trans({}, 'AvanzuAdminTheme')}}</a>
            </div>
            <div class="pull-right">
                <a href="{{ path('avanzu_admin_logout') }}" class="btn btn-default btn-flat">{{ 'Sign out'|trans({}, 'AvanzuAdminTheme') }}</a>
            </div>
        </li>
    </ul>
</li>
