{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="box-body">
        {{ form_widget(form) }}
    </div>
    <!-- End of box-body-->
    <div class="box-footer">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success" />
        <a class="btn btn-danger pull-right" href="{{ path('fos_user_profile_show') }}">Cancel </a>
    </div>
<!-- End of box-footer-->
{{ form_end(form) }}
